pandas
streamlit
langchain-core
scikit-learn
plotly
langchain
langgraph
langchain-openai
langchain-groq
fastapi
uvicorn
sqlalchemy
alembic
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
pydantic-settings
pydantic[email]
structlog
celery
redis
python-multipart
psycopg2-binary
pytest
pytest-asyncio
pytest-cov
httpx
